# Dependencies
/vendor
/node_modules

# Configuration
.env

# Storage & Assets
/storage/profile_images/*
!/storage/profile_images/.gitkeep
/storage/images/*
!/storage/images/.gitkeep

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db